title="default_config"

[general]

    inventory={}
    known_recipe=[]

[character]

    [character.basics]

    [character.fighter]

        [character.fighter.basics]

            fight_skill=["*Punch"]
            attack_rate=100

    [character.playable]

        [character.playable.basics]

            max_health=100
            defense=0
            equipment={}
            social_links={"*alchemist"=3, "*knight"=1}
            basic_skill={}
            status="*neutral"


        [character.playable.alchemist]

            name="Francesco"
            basics_skills=["*potion_throw"]

        [character.playable.knight]

            name="Lancelot"

        [character.playable.priest]

        [character.playable.jester]

    [character.monster]

        [character.monster.basics]

        [character.monster.plagued]

            name="Plagued"

[skill]

    [skill.basics]

    [skill.fight]

        [skill.fight.basics]

        [skill.fight.punch]


[fight]

    [fight.basics]

        escape_probability=0.8
        enemy_tactic="random"


[status]

[item]

    [item.craftable]

        [item.craftable.basics]

            known=false
            recipe={}

    [item.basics]

        name="unknown_name"
        rarity=0
        description="unknow_description"

    [item.resource]

        [item.resource.basics]

        [item.resource.wood_stick]

            name="Wood Stick"
            description="Pretty useless wood stick found anywhere there are trees"
            recipe=[]

        [item.resource.iron]


    [item.equipment]

        [item.equipment.basics]

            durability=100
            position="unknown_position"
            additional_skill=[]

        [item.equipment.weapon]

            [item.equipment.weapon.basics]

            [item.equipment.weapon.iron_sword]


    [item.consumable]

        [item.consumable.basics]

        [item.resource.iron]

            name="Iron"
            description="Common mineral used for armors and weapon"

        [item.resource.iron_sword_recipe]

            name="Iron Sword Recipe"
            description="Recipe for the creation of Iron Sword"

    [item.equipment]

        [item.equipment.basics]

            durability=0
            position="unknown_position"
            additional_skill=[]

        [item.equipment.weapon]

            [item.equipment.weapon.basics]

                mini_damage=0
                maxi_damage=0
                effects=[]

            [item.equipment.weapon.iron_sword]

                name="Iron Sword"
                description="Slicing sword, not very powerful, but a great first companion"
                recipe={"*iron"=1, "*wood_stick"=1}



