title="default_config"

[general]

    inventory={}
    known_recipe=[]
    io_mode="console"

[character]

    [character.basics]

        console_color="*CYAN"
        name="Character"
        statuses=[]

    [character.fighter]

        [character.fighter.basics]

            name="Fighter"
            fight_skill=["*Punch"]
            attack_rate=100
            max_health=100
            defense=0
            equipments=[]

            critical_rate_boost=1
            critical_rate_drop=1
            damage_boost=1
            heal_boost=1
            defense_boost=1
            precision_boost=1
            dodge_boost=1
            critical_defense_boost=1
            critical_damage_boost=1

    [character.playable]

        [character.playable.basics]


            social_links={}
            basic_skill={}
            status="*neutral"
            attack_rate=100
            console_color="*MAGENTA"


        [character.playable.alchemist]

            name="Francesco"
            attack_rate = 60
            fight_skill=["*PotionThrow", "*Punch"]

        [character.playable.knight]

            name="Lancelot"

        [character.playable.priest]

            name="Luc-Olivier"
            attack_rate=100
            fight_skill=["*Curse", "*AngelBenediction", "*SatanClawStrike"]

        [character.playable.jester]

    [character.side]

        [character.side.basics]

            name="Side"

    [character.monster]

        [character.monster.basics]

            name="Monster"
            console_color="*RED"

        [character.monster.plagued]

            name="Plagued"

[skill]

    [skill.basics]

        name="Unnamed skill"
        level=1


    [skill.fight]

        [skill.fight.basics]

            name = "Unnamed fight skill"
            use_weapon=false
            console_color="*BLUE"
            action_consumption=10
            cooldown=0
            effects={}
            target_type="enemy"
            target_number=1
            damages=0
            heal=0
            critical_rate=0.1
            critical_damage_boost=3
            dodge=0.1

        [skill.fight.punch]

            name="Punch"
            target_type="enemy"
            effects={"$Stunned"=0.15}
            damages=30

        [skill.fight.potion_throw]

            name="Potion Throw"
            use_weapon=true

        [skill.fight.meteor]

            cooldown=3
            damages=50


        [skill.fight.curse]

            name="Curse"
            cooldown=2
            effects={"$Cursed"=0.9}

        [skill.fight.angel_benediction]

            name="Angel's Benediction"
            effects={"$Lucky"=0.5, "$Regenerated"=0.6,"$Frenetic"=0.6, "$Untouchable"=0.3}
            heal=20
            target_type="ally"

        [skill.fight.satan_claw_strike]

            name="Satan's Claw Strike"
            damages=40
            dodge=0.3
            critical=0.2







[fight]

    [fight.basics]

        slow=false
        escape_probability=0.8
        enemy_tactic="random"

        rewards={"*gold"=1}


[status]

    [status.basics]

        duration=inf
        name="Unamed Status"
        console_color="*WHITE"

    [status.neutral]

        name="Neutral"

    [status.poisoned]



[fight_status]

    [fight_status.basics]

        duration=1
        damages_rate=1
        damages=0
        heal=0
        console_color="*YELLOW"
        cure=0

    [fight_status.poisoned]

        name="Poisoned"
        damages=10
        duration=3
        console_color="*GREEN"

    [fight_status.lucky]

        name="Lucky"
        duration=3
        precision_boost=2
        critical_rate_boost=3

    [fight_status.stunned]

        name="Stunned"
        duration=1
        attack_stop=true

    [fight_status.cursed]

        name="Cursed"
        duration=4
        cure=0.15
        attack_rate_drop=1.5
        precision_drop=2
        critical_rate_drop=3
        dodge_drop=2

    [fight_status.regenerated]

        name="Regenerated"
        duration=3
        heal=15

    [fight_status.frenetic]

        name="Frenetic"
        duration=3
        attack_rate_boost=2

    [fight_status.untouchable]

        name="Untouchable"
        duration=2
        defense_boost=inf


[item]

    [item.basics]

        name="Unamed item"
        rarity=0
        description="unknow_description"

    [item.craftable]

        [item.craftable.basics]

            known=false
            recipe={}

    [item.weapon]

        [item.weapon.basics]

            random_damages=false
            required_level=0
            target_type="enemy"
            damages=0
            min_damages=0
            max_damages=0
            heal=0
            dodge=0
            critical_rate=0
            critical_damage_boost=1
            effects={}

    [item.resource]

        [item.resource.basics]


        [item.resource.iron]

            name="Iron"
            description="Common mineral used for armors and weapon"

        [item.resource.wood_stick]

            name="Wood Stick"
            description="Pretty useless wood stick found anywhere there are trees"

        [item.resource.gold]

            name="Gold"
            description="Money Money Money..."



    [item.equipment]

        [item.equipment.basics]

            durability=0
            position="unknown_position"
            additional_skill=[]

        [item.equipment.wood_shield]

            name="Wood Shield"
            description="Simplest shield to reduce damages"
            recipe={"*wood_stick"=3}


            [item.equipment.iron_sword]

                name="Iron Sword"
                description="Slicing sword, not very powerful, but a great first companion"
                recipe={"*iron"=2, "*wood_stick"=1}



    [item.consumable]

        [item.consumable.basics]

            name="Unamed consumable item"
            effects={}

        [item.consumable.potion]

            [item.consumable.potion.basics]

                name="Unamed potion"
                required_level=1

            [item.consumable.potion.damage]

                name="Damage Potion"
                damages=35

            [item.consumable.potion.poison]

                name="Poison Potion"
                required_level=1
                effects={"$Poisoned"=1}

            [item.consumable.potion.heal]

                name="Heal Potion"
                target_type="ally"
                heal=20


[fight_modifier]

    [fight_modifier.basics]

        stop_attack=false
        attack_rate_boost=1
        attack_rate_drop=1
        precision_boost=1
        precision_drop=1
        damage_boost=1
        damage_drop=1
        defense_boost=1
        defense_drop=1
        heal_boost=1
        heal_drop=1
        critical_damage_boost=1
        critical_damage_drop=1
        critical_defense_boost=1
        critical_defense_drop=1
        critical_rate_boost=1
        critical_rate_drop=1
        dodge_boost=1
        dodge_drop=1








