title="default_config"

[general]

    inventory={}
    known_recipe=[]
    io_mode="console"

[character]

    [character.basics]

        color="*MAGENTA"  # Magenta

    [character.fighter]

        [character.fighter.basics]

            fight_skill=["*Punch"]
            attack_rate=100
            max_health=100
            defense=0
            equipment={}

    [character.playable]

        [character.playable.basics]


            social_links={"*alchemist"=3, "*knight"=1}
            basic_skill={}
            status="*neutral"
            attack_rate=110


        [character.playable.alchemist]

            name="Francesco"
            attack_rate = 60
            fight_skill=["*PotionThrow"]

        [character.playable.knight]

            name="Lancelot"

        [character.playable.priest]

        [character.playable.jester]

    [character.monster]

        [character.monster.basics]

            color="*RED"

        [character.monster.plagued]

            name="Plagued"

[skill]

    [skill.basics]

        name="Unnamed skill"
        level=0

    [skill.fight]

        [skill.fight.basics]
            action_consumption=10
            cooldown=1
            target_type="enemy"
            target_number=1
            damages=30

        [skill.fight.punch]

            name="Punch"
            target_type="enemy"
            damages=30

        [skill.fight.potion_throw]

            name="Potion Throw"



[fight]

    [fight.basics]

        escape_probability=0.8
        enemy_tactic="random"
        rewards={"*gold"=1}


[status]

    [status.basics]

        duration=inf

    [status.neutral]

[item]

    [item.basics]

        name="unknown_name"
        rarity=0
        description="unknow_description"

    [item.craftable]

        [item.craftable.basics]

            known=false
            recipe={}


    [item.resource]

        [item.resource.basics]


        [item.resource.iron]

            name="Iron"
            description="Common mineral used for armors and weapon"

        [item.resource.wood_stick]

            name="Wood Stick"
            description="Pretty useless wood stick found anywhere there are trees"

        [item.resource.gold]

            name="Gold"
            description="Money Money Money..."



    [item.equipment]

        [item.equipment.basics]

            durability=0
            position="unknown_position"
            additional_skill=[]

        [item.equipment.wood_shield]

            name="Wood Shield"
            description="Simplest shield to reduce damages"
            recipe={"*wood_stick"=3}

        [item.equipment.weapon]

            [item.equipment.weapon.basics]

                min_damage=0
                max_damage=0
                effects=[]

            [item.equipment.weapon.iron_sword]

                name="Iron Sword"
                description="Slicing sword, not very powerful, but a great first companion"
                recipe={"*iron"=1, "*wood_stick"=1}



    [item.consumable]

        [item.consumable.basics]





